# .gitignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temp files
*.swp
*.swo

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml
